@import "./_globals.scss";

.App {
  display: flex;
  height: 100vh;
  position: relative;

  #left-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42vw;
    height: 100%;
    min-width: 350px;
    background-color: #fff;
  }

  #right-pane {
    width: 58vw;
    height: 100%;
    background-color: $lt-blue;
    z-index: 10;
  }
}

/**** Animations */
.lt-pane-expand {
  animation: expandLeft 1.5s ease 0s 1 forwards;
}

.lt-pane-shrink {
  animation: shrinkLeft 1.5s ease 0s 1 forwards;
}

.rt-pane-expand {
  animation: expandRight 1.5s ease 0s 1 forwards;
}

.rt-pane-shrink {
  animation: shrinkRight 1.5s ease 0s 1 forwards;
}

@keyframes expandLeft {
  0% {
    width: 42vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes shrinkLeft {
  0% {
    width: 100vw;
  }

  100% {
    width: 42vw;
  }
}

@keyframes dontShrinkLeft {
  0% {
    width: 100vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes expandRight {
  0% {
    width: 0vw;
  }

  100% {
    width: 58vw;
  }
}

@keyframes shrinkRight {
  0% {
    width: 58vw;
  }

  100% {
    width: 0vw;
  }
}

@keyframes stayShrunkRight {
  0% {
    width: 0vw;
  }

  100% {
    width: 0vw;
  }
}

// Media Queries
@media (max-width: 600px) {
  #left-pane {
    width: 100vw !important;
  }

  #right-pane {
    width: 0vw !important;
  }

  .rt-pane-expand {
    animation: stayShrunkRight 1.5s ease 0s 1 forwards;
  }

  .lt-pane-shrink {
    animation: dontShrinkLeft 1.5s ease 0s 1 forwards;
  }
}
