@import "./_variables";

.App {
  display: flex;
  #left-pane {
    position: relative;
    width: 40vw;
    height: 100vh;
    min-width: 300px;
    background-color: #fff;
  }

  #right-pane {
    width: 60vw;
    height: 100vh;
    background-color: $lt-blue;
  }
}
