@import "./globals.scss";

.cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  left: 0;
  text-align: center;
  background-color: rgba($lt-blue, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  z-index: 9999;

  .close-btn {
    font-size: 1.5rem;
    color: rgba($gray, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }

  .close-cart {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  div:first-child {
    position: relative;
    background-color: #fff;
    padding: 3rem;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 99999;
  }
}

.view-cart {
  animation: viewCart 1s ease 1 forwards;
}

@keyframes viewCart {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
