@import "./globals.scss";

.cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  left: 0;
  text-align: center;
  background-color: rgba($lt-blue, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  z-index: 9999;

  .close-btn {
    font-size: 1.5rem;
    color: rgba($gray, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }

  .close-cart {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  h2 {
    padding: 0 0 1rem 0;
  }

  &-window {
    position: relative;
    background-color: #fff;
    max-height: 90vh;
    padding: 3rem;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 99999;

    &-items {
      overflow: scroll;
      max-height: 85%;
    }
  }

  .total {
    width: 100%;
    text-align: right;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 1rem 0;

    span {
      font-size: 1.2rem;
      font-weight: bold;
      color: $green;
      padding: 0 1rem;
    }
  }
}

.view-cart {
  animation: viewCart 1s ease 1 forwards;
}

@keyframes viewCart {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}

// Media Queries
@media (max-width: 580px) {
  .cart-window {
    width: 100vw;
    padding: 3rem 1rem !important;
  }
  .cart-item li {
    font-size: 0.9rem;
    padding: 0.75rem 0.5rem;
  }

  .cart {
    .total {
      span {
        padding: 0 0.5rem;
      }
    }
  }
}
