@import "./_variables.scss";

/**** Styles for Both Drawers */
.drawer-content {
  opacity: 0;
  animation: fadeIn 1s ease 1.5s 1 forwards;
}

/**** Styles for About Drawer */
.about {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: $dk-blue;
  border-right: 1px solid #fff;
  text-align: center;
  color: $white;
  padding: 1.25rem;

  &-toggle {
    @include toggle-style;
  }
}

/**** Styles for Contact Drawer */
.contact {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: $about-contact-ht;
  background-color: $dk-blue;
  border-left: 1px solid #fff;
  text-align: center;
  color: $white;
  padding: 1.25rem;
  z-index: 1;

  &-toggle {
    @include toggle-style;
  }
}

/**** Drawer Animations */
.expand {
  animation: expand 1.5s ease 1 forwards;
}

.contract {
  animation: contract 1.5s ease 1 forwards;
}

@keyframes expand {
  0% {
    width: 50%;
    height: $about-contact-ht;
    z-index: 1;
  }

  50% {
    width: 50%;
    height: calc(100% - #{$toggle-ht});
    z-index: 10;
  }

  100% {
    width: 100%;
    height: calc(100% - #{$toggle-ht});
    z-index: 10;
  }
}

@keyframes contract {
  0% {
    width: 100%;
    height: calc(100% - #{$toggle-ht});
    z-index: 10;
  }

  50% {
    width: 50%;
    height: calc(100% - #{$toggle-ht});
    z-index: 10;
  }

  100% {
    width: 50%;
    height: $about-contact-ht;
    z-index: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
