@import "./_globals.scss";

.gallery-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 6.5rem;
  width: 100%;
  margin-top: auto;

  &-links {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: $lt-gray;
    width: 100%;
    margin: 0 3rem;
    color: $gray;

    .active-link {
      background-color: $lt-blue;
      border-radius: 2.5rem;

      .material {
        color: #fff;
      }
    }

    .material {
      text-decoration: none;
      color: $gray;
    }

    li {
      position: relative;
      margin: 0.5rem 1.5rem;
      padding: 0 0.75rem;
      font-size: 1rem;
      top: 1px;

      &:last-child {
        margin-left: auto;
        font-size: 1.5rem;
        line-height: 0;
        top: -1px;
      }
    }
  }
}
