@import "./globals.scss";

#greeting {
  margin: 3rem;

  h1 {
    color: $black;
  }

  p {
    color: $lt-blue;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
  }

  button {
    background-color: $lt-blue;
    padding: 0.65rem 2.15rem;
    color: #fff;
    font-size: 0.875rem;
    border: none;
    border-radius: 2px;
    margin-top: 2.25rem;

    &:hover {
      cursor: pointer;
      background-color: $black;
    }
  }
}

/**** Animations */
.greeting-fade-in {
  animation: fadeIn 1s ease 0s 1 forwards;
}
