@import "./_globals.scss";

nav {
  position: absolute;
  padding: 0 0rem 0 3rem;
  top: 2rem;
  width: 100%;
  z-index: 10;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    color: $dk-blue;

    li {
      margin-right: 3rem;
      line-height: 0;

      .home {
        text-decoration: none;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        position: relative;
        top: -3.5px;
        font-size: 1.3rem;

        p {
          position: absolute;
          font-size: 0.85rem;
          color: $lt-blue;
          top: -8px;
          left: 50%;
          transform: translateX(-50%);
          animation: blink 2s ease 0s infinite forwards;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &.logo {
        cursor: auto;
      }
    }
  }
}

// Animations
@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 430px) {
  .logo {
    img {
      width: 150px;
    }
  }

  nav {
    padding: 0 1.5rem 0 1.5rem;
  }
}
