@import "./_globals.scss";

nav {
  position: absolute;
  padding: 0 0rem 0 3rem;
  top: 2rem;
  width: 100%;
  z-index: 10;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    color: $dk-blue;

    li {
      margin-right: 3rem;
      line-height: 0;

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        position: relative;
        top: -3.5px;
        font-size: 1.3rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
