@import "./_globals.scss";

.quick-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;

  &-window {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 100vh;
    padding: 4rem;
    background-color: #fff;
    display: grid;

    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-row-gap: 1.25rem;
    grid-column-gap: 2.5rem;

    &-title {
      grid-column: 2 / -1;

      h2 {
        font-size: 2rem;
      }

      h4 {
        font-size: 0.9rem;
        font-weight: 300;
        color: rgba($gray, 0.75);

        span {
          letter-spacing: 0.05rem;
          font-size: 0.8rem;
        }
      }
    }

    &-img {
      max-width: 400px;
      max-height: 400px;
      width: 100%;
      height: auto;
      grid-row: 1 / 5;
    }

    &-info {
      border-top: 1px solid rgba($gray, 0.25);
      border-bottom: 1px solid rgba($gray, 0.25);
      padding: 0.5rem 0;
      align-self: center;

      ul {
        list-style: none;

        li {
          display: flex;
          justify-content: flex-start;
          padding: 0.3rem 0;
          font-size: 0.9rem;

          span {
            width: 6rem;
            font-weight: bold;
            color: $dk-gray;
          }

          p {
            color: rgba($dk-gray, 0.75);
          }
        }
      }
    }

    &-subtotal {
      align-self: center;

      h3 {
        color: $green;
        font-size: 1.25rem;
        padding: 0;
      }
    }

    &-input {
      grid-column: 2 / -1;
      border-top: 1px solid rgba($gray, 0.25);
      align-self: center;
      padding: 2.5rem 0;
      display: flex;
      align-items: center;

      input {
        height: 2rem;
        width: 6rem;
        padding: 0.25rem;
        text-align: center;
        font-size: 0.9rem;
      }

      button {
        height: 2rem;
        width: 2rem;
        background-color: $gray;
        color: #fff;
        font-weight: bold;
        font-size: 0.9rem;

        &:hover {
          cursor: pointer;
        }
      }

      .minus {
        border-radius: 1rem 0 0 1rem;
        border: 1px solid $gray;
      }

      .plus {
        border-radius: 0 1rem 1rem 0;
        border: 1px solid $gray;
      }
    }

    &-cta {
      grid-column: 1 / -1;
      align-self: center;

      button {
        width: 100%;
        padding: 0.75rem;
        background-color: $dk-gray;
        border: none;
        border-radius: 2px;
        font-size: 1.075rem;
        color: #fff;

        &:hover {
          cursor: pointer;
          background-color: $black;
        }

        &:active {
          transform: scaleY(0.95);
        }
      }
    }
  }

  &-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
