@import "./_globals.scss";

// Grid View
.product-grid {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 180px;
  padding-bottom: 3rem;

  img:hover {
    cursor: pointer;
  }

  h3 {
    padding: 0.5rem 0;
    color: $dk-blue;

    &:hover {
      cursor: pointer;
    }
  }

  .tile-img {
    height: 180px;
    width: 180px;
  }

  .details {
    list-style: none;
    text-align: left;

    li:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding-top: 1rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0;
      font-size: 0.75rem;

      span {
        width: 6rem;
        font-weight: bold;
        color: rgba($dk-gray, 0.9);
      }

      p {
        color: rgba($dk-gray, 0.75);
      }
    }

    button {
      margin-top: 0.25rem;
      padding: 0.5rem 1rem;
      width: 100%;
      background-color: $lt-blue;
      border-radius: 2px;
      border: none;
      font-size: 0.75rem;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: $dk-blue;
      }
    }
  }
}

// List View
.product-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 2rem;
  // text-align: center;
  width: 80vw;
  padding-bottom: 3rem;

  img:hover {
    cursor: pointer;
  }

  h3 {
    padding: 0.5rem 0;
    color: $dk-blue;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    margin-right: auto;
    position: relative;
    top: -3.5rem;
    border-bottom: 1px solid rgba($dk-gray, 0.2);
    flex: 1;
    transition: top 2s;

    &:hover {
      cursor: pointer;
    }
  }

  .tile-img {
    height: 150px;
    width: 150px;
  }

  .details {
    display: flex;
    width: calc(100% - 150px - 1.25rem);
    justify-content: space-between;
    list-style: none;
    text-align: left;
    position: absolute;
    margin-top: 2.25rem;
    margin-left: calc(1.25rem + 150px);
    transition-duration: 1s;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.3rem 0;
      font-size: 0.75rem;

      span {
        width: 6rem;
        font-weight: bold;
        color: rgba($dk-gray, 0.9);
      }

      p {
        color: rgba($dk-gray, 0.5);
        font-size: 1.7rem;
      }
    }

    button {
      // margin-top: 0.25rem;
      padding: 2rem 2rem;
      width: 100%;
      background-color: $lt-blue;
      border-radius: 2px;
      border: none;
      font-size: 0.75rem;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: $dk-blue;
      }
    }
  }
}

// Media Queries
@media (max-width: 800px) {
  .product-list {
    padding-bottom: 1.5rem;

    h3 {
      font-size: 1.25rem;
      top: -1.75rem;
    }
    .product-info {
      font-size: 1rem !important;
    }

    .tile-img {
      width: 75px !important;
      height: 75px !important;
    }

    .details {
      margin-left: calc(1rem + 75px);

      button {
        display: none;
      }
    }
  }
}

@media (max-width: 430px) {
  .product-list {
    padding-bottom: 1.5rem;
    align-items: center;

    h3 {
      font-size: 1.25rem;
      top: 0rem;
      border-bottom: 0;
    }
    .product-info {
      font-size: 1rem !important;
      display: none;
    }

    .tile-img {
      width: 75px !important;
      height: 75px !important;
    }

    .details {
      display: none;

      button {
        display: none;
      }
    }
  }
}
